* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 10px;
  background-color: #000;
  color: #fff;
}
img {
  width: 100%;
  height: 100%;
}
ol {
  list-style: none;
}
.father {
  position: relative;
}
.load {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 2rem 0rem 0rem 0rem;
  text-align: center;
  font-size: 0.3rem;
  background-color: #fff;
  z-index: 1;
}
.loader {
  height: 0.3rem;
  margin: 2rem auto;
  aspect-ratio: 5;
  display: flex;
  justify-content: space-between;
  --_g2: no-repeat radial-gradient(farthest-side, #ff7122 95%, #0000);
  --_g3: no-repeat radial-gradient(farthest-side, #ff2660 95%, #0000);
  background: var(--_g2), var(--_g3);
  background-size: 20% 100%;
  animation: l42-0 1s infinite;
}
.loader:before,
.loader:after {
  content: "";
  height: inherit;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l42-1 1s infinite;
}
.loader:after {
  --s: -1, -1;
  background: #fc067d;
}
.loader:before {
  background: #fe8f07;
}
@keyframes l42-0 {
  0%,
  60% {
    background-position: calc(1 * 100% / 3) 0, calc(2 * 100% / 3) 0;
  }
  100% {
    background-position: calc(0 * 100% / 3) 0, calc(3 * 100% / 3) 0;
  }
}
@keyframes l42-1 {
  0% {
    transform: scale(var(--s, 1)) translate(0, 0);
  }
  33% {
    transform: scale(var(--s, 1)) translate(0, 130%);
  }
  66% {
    transform: scale(var(--s, 1)) translate(calc(400% / 3), 130%);
  }
  100% {
    transform: scale(var(--s, 1)) translate(calc(400% / 3), 0);
  }
}

span {
  /* 让弹出来的文字不被选中，影响操作体验 */
  user-select: none;
  cursor: default;
  font-size: 20px;
  color: blanchedalmond;
  position: absolute;
  transition: 1s;
}

.name {
  text-align: center;
  font-size: 0.26rem;
  line-height: 100vh;
  animation: breathing 3s infinite ease-in-out;
}
@keyframes breathing {
  0% {
    opacity: 0.8;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.8;
    transform: scale(0.9);
  }
}
